{% extends 'base.html.twig' %}

{% block title %}Hedbpo{% endblock %}

{% block body %}

<div class="album py-5" id="france">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    	{% for hedboo in hedboos %}
        <h5 class="card-title"></h5>
        	<div class="col">
				<div class="card shadow-sm h-100">
					<div class="card-body">
						<h5 class="card-title">{{ hedboo.title }}</h5>
					</div>
				</div>
			</div>
    	{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
